{% extends "base.html" %}

{% block title %}Cognisearch - About{% endblock %}

{% block content %}
    <div class="container">
        <h1>About Cognisearch</h1>
        <p>Cognisearch is an smart search engine that allows users to search through there notes using fuzzy logic and natural language processing techniques to find the most relevant information quickly and efficiently.</p>
        <p>Cognisearch is a hackathon project for the Cope Steamworks Coding Club.</p>
        <h1>Our Goal</h1>
        <p>Our goal is to create a lightweight and offline method to semi-sementically search your notes to get an A on your exams.</p>
    </div>
{% endblock %}